
  <div class="form-wrapper">
    <%= form_with model: @phone, local: true do |form| %>
      
      <script>
        var brandsStr = '<%= @brands.to_json.html_safe %>'.trim();
        var brands = JSON.parse(brandsStr);
        var modelStr = '<%= @models.to_json.html_safe %>'.trim();
        var models = JSON.parse(modelStr);
      </script>
    
      <% if @phone.errors.any? %>
        <div class="form-errors">
            Производитель не был добавлен. Были обнаружены следующие ошибки:
          <ul>
            <% @phone.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= form.label :name, "Имя" %>
        <%= form.text_field :name , { :class => "form-control", :required => true} %>
      </div>
     
      <div class="form-group">
       <%= form.label :description, "Описание" %>
       <%= form.text_area :description, { :class => "form-control"} %>
      </div>
      
      <div class="form-group">
       <%= form.label :price,  "Цена" %>
       <%= form.number_field :price, { :class => "form-control", :required => true} %>
      </div>
      
      <div class="form-group">
        <%= form.label :model_id, "Бренд" %>
        <%= form.collection_select( :brand_id,Brand.all, :id, :name, {}, { :class => "form-control"}) %>
      </div>
      
      <div class="form-group">
        <%= form.label :model_id, "Модель" %>
        <%= form.collection_select(:model_id, Model.all, :id, :name, {}, { :class => "form-control"}) %>
      </div>
      
      <div class="form-group">
       <%= form.label :rating, { :value => "Рейтинг"} %>
       <%= form.select :rating, [
          ['1',1],
          ['2',2],
          ['3',3],
          ['4',4],
          ['5',5],
       ], {}, { :class => "form-control"} %>
      </div>
      
      <div class="form-group">
       <%= form.label :sort,  "Сортировка" %>
       <%= form.number_field :sort, { :class => "form-control"} %>
      </div>
      
      <div class="form-group">
       <%= form.label :realese_date, "Дата выхода" %>
       <%= form.date_field :realese_date, { :class => "form-control"} %>
      </div>
      
      <div class="form-group">
        <%= form.label :file, "Изображение" %>
        <%= form.file_field :file, { :class => "form-control"} %>
      </div>
      
      <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
      
    <% end %>
  </div>