
<div class="container">
  <%= render 'form' %>
</div>

<div class="container">
  <div class="bottom-page-links">
    <%= link_to "Телефоны", phones_path, { :class => "btn btn-primary btn-block" } %>
  </div>
</div>