<div class="phone-wrapper">
    <div class="container">
        <div class="row">
    
            <div class="col-xs-12 col-sm-3">
              
                <% if !@phone.image_id.nil? %>
                    <div class="image-wrapper">
                        <%= image_tag url_for(:controller => "images", :action => "show", :id => @phone.image_id) %>
                    </div>
                <% end %>
            </div>
            
            <div class="col-xs-12 col-sm-9">
                
                <div class="realese-date"><%= @phone.realese_date %></div>
              
                <div class="rating">
                    
                    <% @k = 5 - @phone.rating %>
                    <% for @i in 1..@phone.rating %>
                        <i aria-hidden="true" class="fa fa-star"></i>
                    <% end %>
                
                    <% for @i in 1..@k %>
                        <i aria-hidden="true" class="fa fa-star-o"></i>
                    <% end %>
                    
                </div>
                
                <div class="description">
                    <%= @phone.description %>
                </div>
                
                <div class="price">
                    <%= number_to_currency(@phone.price, precision: 0, delimiter: " ", unit: "") %> <i aria-hidden="true" class="fa fa-rouble"></i>
                </div>
                
                <div class="order-form-btn" data-phone-id="<%= @phone.id %>">Купить</div>
                
                <% @charValues = @phone.characteristic_values
                 if !@charValues.blank? %>
                    <div class="show-characteristics" onclick="">показать характеристики</div>
                <% end %>  
            </div>
        </div>
        
        <% if !@charValues.blank? %>
        
            <div class="characteristics-wrapper container-fluid">
                <% @charValues.each do |charValue| %>
            
                <div class='characteristic-wrapper row'>
                    <div class='char-name col-xs-6'>
                        <%= charValue.characteristic_type.name %>
                    </div>
                    <div class='char-value col-xs-6'>
                        <%= charValue.value %>
                    </div>
                    <div class="absolute-buttons">
                        <span class="btn btn-default show-edit-form">Изменить</span>
                        <%= link_to "Удалить", phone_characteristic_value_path(charValue.phone, charValue),
                            method: :delete, 
                            :class => "btn btn-warning",
                            data: {
                                confirm: "Вы уверены?",
                            } 
                        %>
                    </div>
                    <div class="form-wrapper">
                    
                        <%= form_with scope: charValue, url: phone_characteristic_value_path(charValue.phone_id, charValue), :method => :put, local: true do |form| %>
                
                            <h3>Добавить характеристику</h3>
                
                            <div class="form-group">
                                <%= form.label :value, "Значение" %>
                                <%= form.text_field :value , { :class => "form-control", :required => true} %>
                            </div>
                            
                            <div class="form-group">
                                <%= form.label :characteristic_type_id, "Модель" %>
                                <%= form.collection_select(:characteristic_type_id, CharacteristicType.all, :id, :name, {}, { :class => "form-control"}) %>
                            </div>
                            
                            <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        <% end %>
        
        <div class="form-wrapper">
            <%= form_with(model: [@phone, @phone.characteristic_values.build], local: true) do |form| %>
                
                <h3>Добавить характеристику</h3>
                
                <div class="form-group">
                    <%= form.label :value, "Значение" %>
                    <%= form.text_field :value , { :class => "form-control", :required => true} %>
                </div>
                
                <div class="form-group">
                    <%= form.label :characteristic_type_id, "Модель" %>
                    <%= form.collection_select(:characteristic_type_id, CharacteristicType.all, :id, :name, {}, { :class => "form-control"}) %>
                </div>
                
                <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
            <% end %>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="bottom-page-links">
        
        <%= link_to "Изменить", edit_phone_path(@phone), {
                :class => "btn btn-default btn-block"
            }
        %>
        <%= link_to "Удалить", phone_path(@phone),
                    method: :delete, 
                    :class => "btn btn-warning btn-block",
                    data: {
                        confirm: "Вы уверены?",
                    } 
        %>
        
        <%= link_to "Телефоны", phones_path, { :class => "btn btn-primary btn-block" } %>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="order-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"<i class="fa fa-times" aria-hidden="true"></i></span></button>
        <h4 class="modal-title">Оформить заказ</h4>
      </div>
      <div class="modal-body">
        <div class="form-wrapper">
            <%= form_with model: @order, local: true do |form| %>
            
              <% if @order.errors.any? %>
                <div class="form-errors">
                    Производитель не был добавлен. Были обнаружены следующие ошибки:
                  <ul>
                    <% @order.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            
              <div class="form-group">
                <%= form.label :name, {:value => "Имя"} %>
                <%= form.text_field :name , { :class => "form-control", :required => true} %>
              </div>
             
             <div class="form-group">
               <%= form.label :phone_number, { :value => "Телефон"} %>
               <%= form.text_field :phone_number, { :class => "form-control", :mask => "phone"} %>
             </div>
        
             <%= form.hidden_field :phone_id, { :id => "phone-id"} %>
             
              <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
              
            <% end %>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->