
  <div class="form-wrapper">
    <%= form_with model: @charType, local: true do |form| %>
    
      <% if @charType.errors.any? %>
        <div class="form-errors">
            Производитель не был добавлен. Были обнаружены следующие ошибки:
          <ul>
            <% @charType.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= form.label :name, "Имя" %>
        <%= form.text_field :name , { :class => "form-control", :required => true} %>
      </div>
     
      <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
      
    <% end %>
  </div>