
<div class="container">
  <%= render 'form' %>
</div>

<div class="container">
  <div class="bottom-page-links">
    <%= link_to "Типы характеристик", characteristic_types_path, { :class => "btn btn-primary btn-block" } %>
  </div>
</div>