
<div class="container">
<ol class="list-group">
    <% @charTypes.each do |charType| %>
        <li class="list-group-item clearfix">
            <span class="title">
                <%= charType.name %>
            </span>
            <span class="list-item-buttons">
                <%= link_to "Подробнее", characteristic_type_path(charType), {
                :class => "btn btn-small btn-info"
                } %>
                <%= link_to "Изменить", edit_characteristic_type_path(charType), {
                :class => "btn btn-small btn-default"
                } %>
                <%= link_to "Удалить", characteristic_type_path(charType),
                    method: :delete, 
                    :class => "btn btn-warning",
                    data: {
                        confirm: "Вы уверены?",
                    } 
                %>
            </span>
        </li>
    <% end %>
</ol>

<%= link_to "Добавить тип характеристик", new_characteristic_type_path, { :class => "btn btn-primary btn-block"} %>

</div>