<div class="container">
    <div class="bottom-page-links">
        
        <%= link_to "Изменить", edit_characteristic_type_path(@charType), {
                :class => "btn btn-default btn-block"
            }
        %>
        <%= link_to "Удалить", characteristic_type_path(@charType),
                    method: :delete, 
                    :class => "btn btn-warning btn-block",
                    data: {
                        confirm: "Вы уверены?",
                    } 
        %>
        
        <%= link_to "Типы характеристик", characteristic_types_path, { :class => "btn btn-primary btn-block" } %>
    </div>
</div>