<div class="container">
    <div class="form-wrapper">
        <%= form_with model: @order, local: true do |form| %>
        
          <% if @order.errors.any? %>
            <div class="form-errors">
                Производитель не был добавлен. Были обнаружены следующие ошибки:
              <ul>
                <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        
          <div class="form-group">
            <%= form.label :name, {:value => "Имя"} %>
            <%= form.text_field :name , { :class => "form-control", :required => true} %>
          </div>
         
         <div class="form-group">
           <%= form.label :phone_number, { :value => "Номер телефона"} %>
           <%= form.text_field :phone_number, { :class => "form-control", :mask => "phone"} %>
         </div>
    
         <div class="form-group">
            <%= form.label :phone_id, "Заказанный телефон" %>
            <%= form.collection_select( :phone_id, Phone.all, :id, :name, {}, { :class => "form-control"}) %>
          </div>
         
          <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
          
        <% end %>
    </div>
</div>