<div class="orders-wrapper">
    <div class="container">
        <div class="orders-header">
            <div class="row">
                <div class="col-xs-12 col-sm-3">Имя</div>
                <div class="col-xs-12 col-sm-3">Телефонный номер</div>
                <div class="col-xs-12 col-sm-3">Заказанные телефон</div>
                <div class="col-xs-12 col-sm-3"></div>
            </div>
        </div>
        <% @orders.each do |order| %>
            <div class="order-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="name"><%= order.name %></div>                        
                    </div>
                    
                    <div class="col-xs-12 col-sm-3">
                        <div class="phone-number"><%= order.phone_number %></div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-3">
                        <% @phone = Phone.find(order.phone_id) %>
                        <div class="phone"><%= @phone.name %></div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-3">
                        <%= link_to "Изменить", edit_order_path(order), {
                                :class => "btn btn-default btn-block"
                            }
                        %>
                        <%= link_to "Удалить", order_path(order),
                            method: :delete, 
                            :class => "btn btn-warning btn-block",
                            data: {
                                confirm: "Вы уверены?",
                            } 
                        %>
                    </div>
                    
                </div>
            </div>
        <% end %>
    </div>
</div>