@import "_variables";

header {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $blue_color;
	color: $white_color;
	line-height: 50px;
	height: 50px;
	z-index: 100;

	.logo {

		display: block;
		font-size: 30px;
		color: $white_color;
		font-weight: bold;
		color: $yellow_color;
		text-decoration: none;
		transition: color 0.3s ease 0s;

		&:hover {

			text-decoration: none;
			color: $white_color;
		}
	}

	nav.main-menu {

		.menu-item {
			
			position: relative;
			display: inline-block;
			
			a {

				text-transform: uppercase;
				color: $white_color;
				text-decoration: none;
				display: inline-block;
				transition: color 0.3s ease 0s;
	
				&:not(:last-child) {
	
					margin-right: 15px;
				}
	
				&:hover {
	
					text-decoration: none;
					color: $yellow_color;
				}
			}
			
			&:hover {
				
				.sub_menu-items {
					
					display: block;
				}
			}
			
			.sub_menu-items {
				
				position: absolute;
				display: none;
				top: 100%;
				left: 0;
				background-color: $blue_color;
				padding: 0 15px;
				
				a {
					display: block;
					white-space: nowrap;
				}
			}
		}
	}
}

body {

	padding: 50px 0;
}

footer {

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $blue_color;
	color: $white_color;
	height: 50px;
	line-height: 50px;
	text-align: center;
	z-index: 100;

	.fa {

		color: $yellow_color;
	}
}

.header-block {

	padding: 50px 0;
	background-color: $light_grey_color;
	
	h1 {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

.form-wrapper {
	
	margin: 50px auto;
	
	.form-errors {
		margin: 30px auto;
		color: $red_color;
	}
	
	textarea {
		
		min-width: 100%;
		max-width: 100%;
		min-height: 150px;
	}
}

.description-wrapper {
	
	margin: 30px auto;
}

.bottom-page-links {
	
	margin: 30px auto 0;
	text-align: center;
	
	.btn {
		
		&:not(:last-child) {
			
			margin-bottom: 15px;
		}
	}
}

.list-group {
	
	margin: 50px auto;
	
	.list-group-item {
		
		.title {
			
			padding: 6px 0;
			display: inline-block;
			
		}
		
		.list-item-buttons {
		
			float: right;
			
			.btn {
				
				&:not(:last-child) {
					
					margin-right: 5px;
				}
			}
		}
		
		.form-wrapper {
			
			display: none;
		}
	}
}

.image-wrapper {
	
	text-align: center;
	
	img {
		
		max-width: 100%;
		max-height: 100%;
		vertical-aling: middle;
		display: inline-block;
	}
}
a.image-wrapper {
		
	color: inherit;
	
	&:hover {
		
		color: inherit;
		text-decoration: none;
	}
}