.orders-wrapper{margin:50px auto}.orders-wrapper .orders-header{background-color:#fafafa;margin-bottom:15px;text-align:center;padding:10px 0}.orders-wrapper .order-wrapper{padding:10px 0;text-align:center}.orders-wrapper .order-wrapper:nth-child(odd){background-color:#fafafa}
/*# sourceMappingURL=orders.css.map */
