@import "variables";

.orders-wrapper {
    
    margin: 50px auto;
    
    .orders-header {
        
        background-color: $light_grey_color;
        margin-bottom: 15px;
        text-align: center;
        padding: 10px 0;
    }
    
    .order-wrapper {
        
        padding: 10px 0;
        text-align: center;
        
        &:nth-child(odd) {
            
            background-color: $light_grey_color;
        }
    }
    
}