@import "_variables";

.phones-list {

	margin: 50px 0;
}

.phone-wrapper {
		
		padding: 15px 0;
		
		@media(max-width: 767px) {
			
			text-align: center;
		}

		&:nth-child(even) {
			
			background-color: $light_grey_color;
		}
		
		&:not(:last-child) {

			margin-bottom: 50px;
		}
		
		.image-wrapper {
			
			height: 250px;
			line-height: 250px;
		}

		.name {

			font-size: 20px;
			font-weight: bold;
			color: inherit;
			transition: color 0.3s ease 0s;
			
			&:hover {
				
				color: $blue_color;
				text-decoration: none;
			}
		}
		
		.realese-date {
			
			color: lighten($text_color,50%);
			margin: 5px 0;
		}
		
		.rating {

			.fa {
				color: $yellow_color;
			}
			margin-bottom: 15px;
		}

		.description {

			margin: 15px 0;
		}

		.price {

			color: $blue_color;
			font-size: 20px;
			margin: 30px 0;
			transition: color 0.3s ease 0s;

			&:hover {

				color: $red_color;
			}
		}
		
		.order-form-btn {
			
			display:inline-block;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: $red_color;
			color: $white_color;
			transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
			text-transform: uppercase;
			cursor: pointer;
			border: 1px solid $red_color;
			margin: 15px 15px 15px 0;

			&:hover {
				
				color: $red_color;
				background-color: $white_color;
			}
		}

		.show-characteristics {

			display: inline-block;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: $blue_color;
			color: $white_color;
			transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
			text-transform: uppercase;
			cursor: pointer;
			border: 1px solid $blue_color;

			&:hover {
				color: $blue_color;
				background-color: $white_color;
			}
		}
		
		.characteristics-wrapper {
			
			display: none;
						
			.characteristic-wrapper {
				
				margin-top: 15px;
				margin-bottom: 15px;	
				padding: 10px 15px;
				background-color: $white_color;
				position: relative;
				
				.char-name {
					
					border-right: 1px solid lighten($text_color, 50%);
					text-align: right;
				}
				
				.char-value {
					
					text-align: left;
					font-weight: bold;
				}
				
				&:nth-child(odd) {
					background-color:$light_grey_color;
				}
				
				.absolute-buttons {
					
					position: absolute;
					top: 3px;
					right: 15px;
					opacity: 0;
					transition: opacity 0.3s ease 0s;
				}
				
				&:hover {
					
					.absolute-buttons {
						
						opacity: 1;
					}
				}
				
				.form-wrapper {
					
					display: none;
				}
			}
		}
	}