
  <div class="form-wrapper">
    <%= form_with model: @brand, local: true do |form| %>
    
      <% if @brand.errors.any? %>
        <div class="form-errors">
            Производитель не был добавлен. Были обнаружены следующие ошибки:
          <ul>
            <% @brand.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= form.label :name, {:value => "Имя"} %>
        <%= form.text_field :name , { :class => "form-control", :required => true} %>
      </div>
     
     <div class="form-group">
       <%= form.label :description, { :value => "Описание"} %>
       <%= form.text_area :description, { :class => "form-control"} %>
     </div>
     
      <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
      
    <% end %>
  </div>