
<div class="container">
<ol class="list-group">
    <% @brands.each do |brand| %>
        <li class="list-group-item clearfix">
            <span class="title">
                <%= brand.name %>
            </span>
            <span class="list-item-buttons">
                <%= link_to "Подробнее", brand_path(brand), {
                :class => "btn btn-small btn-info"
                } %>
                <%= link_to "Изменить", edit_brand_path(brand), {
                :class => "btn btn-small btn-default"
                } %>
                <%= link_to "Удалить", brand_path(brand),
                    method: :delete, 
                    :class => "btn btn-warning",
                    data: {
                        confirm: "Вы уверены?",
                    } 
                %>
            </span>
        </li>
    <% end %>
</ol>

<%= link_to "Добавить бренд", new_brand_path, { :class => "btn btn-primary btn-block"} %>

</div>