<div class="container">
    
    <div class="description-wrapper">
        <%= @brand.description %>
    </div>
</div>

<div class="container">
    <div class="bottom-page-links">
        
        <%= link_to "Изменить", edit_brand_path(@brand), {
                :class => "btn btn-default btn-block"
            }
        %>
        <%= link_to "Удалить", brand_path(@brand),
                    method: :delete, 
                    :class => "btn btn-warning btn-block",
                    data: {
                        confirm: "Вы уверены?",
                    } 
        %>
        
        <%= link_to "Бренды", brands_path, { :class => "btn btn-primary btn-block" } %>
    </div>
</div>

<div class="container">
    <h2>Модели</h2>
    
    <ol class="list-group">
        <% @brand.models.each do |model| %>
        
            <li class="list-group-item">
                
                <span class="title"><%= model.name %></span>
                <span class="list-item-buttons">
                    
                    <span class="btn btn-default show-edit-form">Изменить</span>
                    <%= link_to "Удалить", brand_model_path(model.brand, model),
                        method: :delete, 
                        :class => "btn btn-warning",
                        data: {
                            confirm: "Вы уверены?",
                        } 
                    %>
                </span>
                
                <div class="form-wrapper">
                    
                    <%= form_with scope: model, url: brand_model_path(model.brand_id, model), :method => :put, local: true do |form| %>
            
                        <h3>Изменить модель</h3>
                        
                        <div class="form-group">
                            <%= form.label :name, "Имя" %>
                            <%= form.text_field :name , { :class => "form-control", :required => true} %>
                        </div>
                          
                          
                        <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ol>
    
    <div class="form-wrapper">
        <%= form_with(model: [@brand, @brand.models.build], local: true) do |form| %>
            
            <h3>Добавить модель</h3>
            
            <div class="form-group">
                <%= form.label :name, "Имя" %>
                <%= form.text_field :name , { :class => "form-control", :required => true} %>
            </div>
              
            <%= form.submit "Отправить", { :class => "btn btn-primary" } %>
        <% end %>
    </div>
</div>